

.box{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: black;
}
.light{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgb(206, 179, 179);

}
.size{
    width: 450px;
    height: 500px;
    margin-left: 200px;
   
    align-items: center;
 

}
.position{
   
   position: relative;
 
  
   right: 600px;


}
.t2{
    position: relative;
    left: 300px;
}